<%= form_for(info) do |f| %>
  <% if admin_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_info.errors.count, "error") %> prohibited this admin_info from being saved:</h2>

      <ul>
      <% admin_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
