<div class="about-jumbotron">
  <div class="container">
    <div class="content">
      
    </div>
  </div>
</div>

<div class="container">
	<div class="row contact">
	  <div class="row about-contact">
	  	<div class="col-md-4">
	  		<blockquote class="blockquote-reverse introduction-blockquote">
				  <h4 class="about-head">杰夫简介</h4>
				</blockquote>
	  	</div>
		  <div class="col-md-8">
		  	<p>
		  		杰夫电声是一家创立于1998年1月18日的原生型的民营企业，也是中国最大的平板电视用扬声器研制企业之一，主营各类扬声器单元及系统的研发、制造和销售，并享有进出口自营权。公司围绕客户的需求持续创新，为国内外品牌家电厂商提供电声产品和研制服务，经过十五年的高速发展，杰夫电声的扬声器及系统产品已经应用于28个国家和地区，服务全球1/6户家庭，杰夫电声也成长为国内最具规模的电视扬声器及系统制造商。
		  	</p>
		  	<%= link_to "了解杰夫更多", about_introduction_path, class: "btn btn-primary", role: "button" %>
		  </div>
		</div>

		<div class="row about-contact">
	  	<div class="col-md-4">
	  		<blockquote class="blockquote-reverse operation-blockquote">
				  <h4 class="about-head">公司历程</h4>
				</blockquote>
	  	</div>
		  <div class="col-md-8">
		  	<p>
		  		公司主要生产杰夫扬声器单元和系统，并为国际品牌公司提供OEM/ODM服务。2000年公司自行研发的JIEFU通讯扬声器YD系列产品，更被评为2001年度“江苏省高新技术产品”，“国家重点新产品”。
		  	</p>
		  	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">了解详细信息</button>
		  </div>
		  <!-- Modal -->
				<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog modal-lg" role="document">
				    <div class="modal-content">
				    	<%= render 'layouts/milestones' %>
				    </div>
				  </div>
				</div>
		</div>

		<div class="row about-contact">
	  	<div class="col-md-4">
	  		<blockquote class="blockquote-reverse ceo-blockquote">
				  <h4 class="about-head">总裁寄语</h4>
				</blockquote>
	  	</div>
		  <div class="col-md-8">
		  	<p>
		  		感谢历史给予杰夫人机遇，伴随着祖国改革开放，杰夫电声从无到有，从小到大，已是国内电声界具有相当知名度的扬声器制造商之一。进入新世纪，祖国加入WTO，杰夫人开始面临全新的机遇与挑战，市场变大了，竞争对手也变强了，杰夫电声将与世界级企业同台竞技，一展风采。<br>
					也许现在，我们跟世界级企业存在着一定的差距，但是我们有一支豪情万丈、志在千里的员工队伍，我们有学习、思考、实践、总结、创新的杰夫精神，正是这些有形无形的宝贵财富，才有可能保证杰夫在日趋激烈的竞争环境中立于不败之地。<br>
					“海纳百川英才聚，声弘四海中华扬”，祖国的强盛，民族的复兴，需要我们的持续努力，不懈追求，实业兴国，实业强国，我们杰夫人有志于让世界回荡中国的声音，杰夫的声音。如果您同样怀着这么一颗报国心，一份爱国情，那么朋友，您就是我们迫切需要的，请加入我们吧！<br>
					在此，我谨代表杰夫人，热诚欢迎海内外电声界的同行莅临指导，热诚欢迎有志于电声行业的朋友不吝赐教。杰夫期待您的加盟，共创美好明天！
		  	</p>
		  	<p class="text-right"><%= image_tag "jiefu-signature" %></p>
		  </div>
		</div>

		<div class="row about-contact">
	  	<div class="col-md-4">
	  		<blockquote class="blockquote-reverse certification-blockquote">
				  <h4 class="about-head">人才战略</h4>
				</blockquote>
	  	</div>
		  <div class="col-md-8">
		  	<p>
		  		人才竞争力是现代企业竞争的核心，所以杰夫历来视人才为最宝贵的财富，极其重视人才的引进和培养。在杰夫，人才选拔不仅在于是否具备基本的知识、技能和素养，更注重的是能否融入团队，贯彻学习、思考、实践、总结、创新的杰夫精神。
		  	</p>
		  	<button type="button" class="btn btn-primary">杰夫招聘信息</button>
		  </div>
		</div>

	</div>
</div>