<div class="introduction-jumbotron">
  <div class="container">
    <div class="content">
      <h2>公司介绍</h2>
      <p>中国最大的平板电视用扬声器研制企业之一，主营各类扬声器单元及系统的研发、<br>
制造和销售，并享有进出口自营权。</p>
    </div>
  </div>
</div>

<div class="container introduction">
    <ol class="breadcrumb introduction_breadcrumb">
      <li><a href="#"><%= fa_icon "home" %></a></li>
      <li><a href="#">关于我们</a></li>
      <li class="active">公司介绍</li>
    </ol>
	<div class="row contact">
	  <div class="col-md-12">
	  	<p class="introduction-text">
	  		杰夫电声是一家创立于1998年1月18日的原生型的民营企业，也是中国最大的平板电视用扬声器研制企业之一，主营各类扬声器单元及系统的研发、制造和销售，并享有进出口自营权。公司围绕客户的需求持续创新，为国内外品牌家电厂商提供电声产品和研制服务，经过十五年的高速发展，杰夫电声的扬声器及系统产品已经应用于28个国家和地区，服务全球1/6户家庭，杰夫电声也成长为国内最具规模的电视扬声器及系统制造商。<br> <br>
        对于有扬声器个性定制需求的品牌厂商，杰夫电声提供更多样化的设计方案，更专业的技术支持，更迅捷的批量制造能力，以及更具竞争的价格优势。<br> <br>
        公司在美国加州圣何塞市、韩国庆尚北道龟尾市、泰国曼谷市设有分支机构，是中国电声行业协会理事单位，也是“国家火炬计划重点高新技术企业”和“江苏省高新技术企业”。“杰夫JIEFU”商标在美国、土耳其、欧盟、泰国、马来西亚、印尼等二十多个国家注册，已被评为“江苏省著名商标”，杰夫产品也被评为“江苏省名牌产品”和“江苏省重点培育和发展的出口名牌”。<br>
        公司建有“江苏省电声与数字音响工程技术研究中心”，致力于为国际品牌公司提供扬声器及系统的ODM服务，杰夫研发团队每年自主研制扬声器系统新技术、新产品100余项，成果转化率达到85%以上，产品被SAMSUNG、LG、SHARP、TCL、海信等知名家电企业广泛采用。并被认定有“国家重点新产品”3项，“江苏省高新技术产品”33项，授权各类发明、实用新型和外观专利200余项，参与制定GB/T12060.13《扬声器听音试验》国家标准1项。<br> <br>
        公司通过国家权威认证机构审查，1998年8月获得ISO9002国际质量体系认证，2002年7月获得ISO9001:1994、QS－9000:1998质量体系认证，再于2005年12月获得ISO9001:2000质量体系认证，ISO14001:2004环境体系认证，2007年8月获得IECQ-HSPM QC080000:2005有害物质过程管理体系认证，2009年全系列产品通过CE产品认证，2011年12月获得ISO27001:2005信息安全管理体系认证，多年保持体系运行有效，在行业内起到了示范带头作用。 <br> <br>
        公司较早开展信息化建设和数字化管理项目，2003年6月实施ERP企业资源规划管理系统，2007年9月实施OA协同办公管理系统，2009年7月实施SRM供应商关系管理系统，2011年4月实施PDM产品数据管理系统，并成功实现了各大信息系统的整合运营，是江苏省制造业信息化示范企业，还被评为“江苏省级企业管理现代化创新成果第十六届（二等奖）”。<br> <br>
        公司聘请中国科学院院士张淑仪女士担任技术总顾问，聘请南京大学、东南大学、西安工程大学、江苏省电子信息产品质量监督检验研究院的各位专家、教授担任技术顾问，并成立“平板显示新型电声器材高技术研究重点实验室”，凭借由国家级声学专家组成的技术研发队伍，建有一套有效的研发、生产、质量控制体系，目前已引进丹麦LOUDSOFT声学设计软件、德国KLIPPEL电声分析系统、丹麦B&K电声测试系统，瑞士NTI声频测试系统、美国MLSSA和LMS电声测试系统、韩国SIGMA试验系统，并配备有520立方米的全消声室，90立方米的主观听音室，荧光光谱分析室，负荷功率实验室、盐雾试验室、阻燃测试实验室等多个信赖性实验室，通过完备的研发、实验资源，杰夫电声的工程师不断设计出优秀的扬声器单元和系统。<br> <br>
        公司一面致力扬声器及系统产品的研制和开发，制订长远发展目标，一面加快企业的发展步伐。目前拥有各类扬声器及系统产品生产线12条，（包括7条电视扬声器生产线，3条箱体扬声器生产线，1条汽车扬声器生产线,和1条其他扬声器生产线），年生产能力达到扬声器单元5000万只，音响系统200万套。<br> <br>
       “海纳百川英才聚，声弘四海中华扬”，杰夫电声通过经营变革和管理创新，不断增强企业素质和实力，力争用20年左右时间，实现我们将中国制造的声音传播到世界每一户家庭的宏伟目标。<br> <br>
        企业愿景：让世界每个角落都能听到我们的声音。<br>
        企业使命：快速适应产品结构转型，积极逐鹿全球电声市场；协助顾客保持竞争优势，促进百姓改善生活品质。<br>
        企业精神：学习、思考、实践、总结、创新。<br>
        经营策略：创电声界一流品牌。<br>
        经营理念：全心全意倾听您的声音。 

	  	</p>
	  </div>
	</div>
</div>