<div class="introduction-jumbotron">
  <div class="container">
    <div class="content">
      <h2>杰夫荣誉</h2>
      <p>作为中国最大的平板电视用扬声器研制企业之一，杰夫电声深受客户信任。 <br>同时，杰夫电声还受到了专业认证机构、行业协会和媒体的广泛赞誉。</p>    
    </div>
  </div>
</div>

<div class="container introduction honors">

  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#quality" aria-controls="quality" role="tab" data-toggle="tab">资质认证</a></li>
    <li role="presentation"><a href="#invent" aria-controls="invent" role="tab" data-toggle="tab">发明专利</a></li>
    <li role="presentation"><a href="#practical" aria-controls="practical" role="tab" data-toggle="tab">实用新型专利</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="quality"><%= render 'static_pages/honors_quality' %></div>
    <div role="tabpanel" class="tab-pane" id="invent"><%= render 'static_pages/honors_invent' %></div>
    <div role="tabpanel" class="tab-pane" id="practical"><%= render 'static_pages/honors_practical' %></div>
  </div>
	
</div>

