<div class="container">
	<div class="row contact">
		  <div class="row about-contact">
		  	<div class="col-md-12">
					<div class="page-header">
					  <h1>杰夫招聘 <small>2017年招聘</small></h1>
					</div>
					<section class="title-banner">
            <div class="banner-content">
              <h2 class="banner-title">你的明天，杰夫的未来。<br>加入我们，你的未来注定不同凡响。</h2>
            </div>
        	</section>
					<p>员工是我们最宝贵的资产，而且我们并不只是这样说说而已！我们以富有竞争力的方式就工作和绩效对员工进行奖励，并兑现满足多代员工及其家庭需要的非凡计划。</p>
					<table class="table table-hover careers-table">
						<thead> 
							<tr> 
								<th>职位</th> 
								<th>区域</th> 
								<th>人数</th> 
							</tr> 
						</thead>
			  		<tbody> 
			  			<tr> 
			  				<td><%= link_to "外贸业务人员", careers_detail_path, class: "carrers-link" %></td> 
			  				<td>无锡</td> 
			  				<td>2名</td> 
			  			</tr>
			  			<tr> 
			  				<td>IT管理员</td> 
			  				<td>无锡</td> 
			  				<td>1名</td> 
			  			</tr>
			  			<tr> 
			  				<td>技术开发助理</td> 
			  				<td>无锡</td> 
			  				<td>1名</td> 
			  			</tr>
			  		</tbody> 
			  	</table>
		  	</div>
			</div>
	</div>
</div>