<div class="container">
	<div class="row contact">
		  <div class="row about-contact">
		  	<div class="col-md-4 back-careers">
					<h5><%= link_to "返回职位列表", careers_path, class: "carrers-link" %></h5>
		  	</div>
		  	<div class="col-md-8 careers-detail">
					<h2>外贸业务人员</h2>
					<p>工作地点:  无锡</p>
					<p><small>招聘人数:  2名</small></p>
					<button type="button" class="btn btn-primary">立即申请</button>
					<h3>任职要求</h3>
					<ul>
					  <li>基本要求：热爱外贸事业，敢于挑战自我，挑战高薪，能吃苦耐劳，勤奋务实，积极主动，具有良好的团队合作精神，拥有高度的执行力，能承受较强的工作压力，稳定性强。立志长期从事外贸行业。</li>
					  <li>学历专业要求：专科以上学历，国际贸易、市场营销及相关专业；男女不限。</li>
					  <li>专业素质要求： 1、英文听说读写能力；2、 有韩文能力者优先。</li>
					</ul>
					<h3>简历投递邮箱</h3>
					<ul>
					  <li>hr@jiefu.cn</li>
					</ul>
				</div>
			</div>
	</div>
</div>