<div class="jumbotron banner">
  <div class="container">
    <div class="content">
      <h1>惊天动地 燕语莺声</h1>
			<h2>JIEFU 电视扬声器 - YDP20110-2T</h2>
    </div>
  </div>
</div>

<div class="jumbotron choose-product">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="col-md-6"><h3>寻找扬声器</h3></div>
        <div class="col-md-6">
          <div class="dropdown choose">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              选择产品型号
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Test - 1</a></li>
              <li><a href="#">Test - 2</a></li>
              <li><a href="#">Test - 3</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Test - 4</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-bg">
  <div class="container">
    <div class="row brand-jbl">
      <div class="col-md-6 brand-jbl-img">
        <%= image_tag("jbl-img.png", height: '292', width: '585') %>
      </div>
      <div class="col-md-6 brand-jbl-text">
        <p>杰夫电声是一家创立于1998年1月18日的原生型的民营企业，也是中国最大的平板电视用扬声器研制企业之一，主营各类扬声器单元及系统的研发、制造和销售，并享有进出口自营权。公司围绕客户的需求持续创新，为国内外品牌家电厂商提供电声产品和研制服务，经过十五年的高速发展，杰夫电声的扬声器及系统产品已经应用于28个国家和地区，服务全球1/6户家庭，杰夫电声也成长为国内最具规模的电视扬声器及系统制造商。</p>
      </div>
    </div>
    <div class="row brand-infinity">
      <div class="col-md-6 brand-infinity-text">
        <p>公司建有“江苏省电声与数字音响工程技术研究中心”，致力于为国际品牌公司提供扬声器及系统的ODM服务，杰夫研发团队每年自主研制扬声器系统新技术、新产品100余项，成果转化率达到85%以上，产品被SAMSUNG、LG、SHARP、TCL、海信等知名家电企业广泛采用。并被认定有“国家重点新产品”3项，“江苏省高新技术产品”33项，授权各类发明、实用新型和外观专利200余项，参与制定GB/T12060.13《扬声器听音试验》国家标准1项。</p>
      </div>
      <div class="col-md-6 brand-infinity-img">
        <%= image_tag("infinity-img.png", height: '292', width: '585') %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 home-case">
        <div class="container">
		      <h3>最新新闻</h3>
		      <ul class="list-unstyled">
		        	<li class="news-list"><a href="#"><strong>2016年6月5日</strong> 与冲突矿物相关的必要信息提供邀请</a></li>
		        	<li class="news-list"><a href="#"><strong>2016年6月5日</strong> 与冲突矿物相关的必要信息提供邀请</a></li>
		        	<li class="news-list"><a href="#"><strong>2016年6月5日</strong> 与冲突矿物相关的必要信息提供邀请</a></li>
		        	<li class="news-list"><a href="#"><strong>2016年6月5日</strong> 与冲突矿物相关的必要信息提供邀请</a></li>
		        	<li class="news-list"><a href="#"><strong>2016年6月5日</strong> 与冲突矿物相关的必要信息提供邀请</a></li>
		        	<li class="news-list"><a href="#"><strong>2016年6月5日</strong> 与冲突矿物相关的必要信息提供邀请</a></li>
		        	<li class="news-list"><a href="#"><strong>2016年6月5日</strong> 与冲突矿物相关的必要信息提供邀请</a></li>
		        	<li class="news-list"><a href="#"><strong>2016年6月5日</strong> 与冲突矿物相关的必要信息提供邀请</a></li>
		        	<li class="news-list"><a href="#"><strong>2016年6月5日</strong> 与冲突矿物相关的必要信息提供邀请</a></li>
		      </ul>
		      
		    </div>
      </div>
    </div>
  </div> <!-- /container -->

<div class="jumbotron choose-product choose-foot">

</div>
  
</div>



