<div class="news-jumbotron">
  <div class="container">
    <div class="content">
      <h2>新闻</h2>
    </div>
  </div>
</div>

<div class="container">
	<div class="row news">
	  <div class="col-md-6">
	  	<h4>公司动态</h4>
	  	<ul class="list-unstyled">
			  <li>
			  	<p><%= link_to "杰夫电声与吉林大学合作开展在职本科教育学历班", news_content_path %></p>
					<p class="news-time"><small>2016年12月1日</small></p>
			  </li>
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news-time"><small>2016年12月1日</small></p>
			  </li>
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news-time"><small>2016年12月1日</small></p>
			  </li>
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news-time"><small>2016年12月1日</small></p>
			  </li>
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news-time"><small>2016年12月1日</small></p>
			  </li>
			</ul>
			<%= link_to "更多", news_list_path, class: "btn btn-default", role: "button" %>
	  </div>
  	<div class="col-md-6">
  		<h4>业界新闻</h4>
  		<ul class="list-unstyled">
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news-time"><small>2016年12月1日</small></p>
			  </li>
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news-time"><small>2016年12月1日</small></p>
			  </li>
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news-time"><small>2016年12月1日</small></p>
			  </li>
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news-time"><small>2016年12月1日</small></p>
			  </li>
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news-time"><small>2016年12月1日</small></p>
			  </li>
			</ul>
			<button class="btn btn-default" type="submit">更多</button>
  	</div>
	</div>

	<div class="row news bulletin">
	  <div class="col-md-6">
	  	<h4>杰夫公告</h4>
	  	<ul class="list-unstyled">
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news-time"><small>2016年12月1日</small></p>
			  </li>
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news-time"><small>2016年12月1日</small></p>
			  </li>
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news-time"><small>2016年12月1日</small></p>
			  </li>
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news-time"><small>2016年12月1日</small></p>
			  </li>
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news-time"><small>2016年12月1日</small></p>
			  </li>
			</ul>
			<button class="btn btn-default" type="submit">更多</button>
	  </div>

	</div>
</div>