<div class="news-jumbotron">
  <div class="container">
    <div class="content">
      <h2>新闻</h2>
    </div>
  </div>
</div>

<div class="container news_content">
	<div class="row news">
	  <div class="col-md-12">
	  	<h3>杰夫电声与吉林大学合作开展在职本科教育学历班</h3>
	  	<p class="news-time"><small>2016年12月1日</small></p>
			
			<div class="content">
				<p>为了提高员工特别是管理人员的技术、文化素质，从而为企业的发展培养人才，以全面提高企业的可持续发展能力。2012年9月1日，锡北镇成人教育中心校乡镇企业管理专业无锡杰夫电声有限公司吉林大学本科班举行了隆重的开学典礼。</p>
				<p>开学典礼在杰夫电声公司职工学校举行，锡山区人民政府督导室主任，锡山区教育局副局长周勇同志，锡北镇人民政府副镇长朱一丹同志，还有锡山区教育局、锡山区社区教育学院、锡北镇政府和锡北镇成人教育中心校的领导，杰夫电声公司领导，42名学员参加本科学历在职教育。</p>
				<p>开学典礼在庄严的国歌声中拉开帷幕。杰夫电声公司蒋正祥董事长，职工代表吴寿珍同志，锡山区教育局副局长周勇同志，锡北镇人民政府副镇长朱一丹同志，锡北镇成人教育中心校王伟校长在开学典礼上依次讲话。 </p>
				<p>的可持续发展，开办本科班是企业提升员工从业素质的一个重要举措。参加此次学习的均为企业骨干，计划在今后的三年时间里系统地学习专业知识，并达到大专学历水平，成为企业新一轮发展的中坚力量。42名学员三年学习共需约60万元费用均有企业出资。</p>
				<p>这期本科班将采取非脱产学习形式，成教中心的专业教师将利用周末、节假日等工余时间，到企业为学员进行集中授课、辅导。</p>
				<%= image_tag('news-logo') %>
			</div>
	  	</p>
	  </div>

  </div>
</div>