<div class="container news_list">
	<ol class="breadcrumb news_breadcrumb">
	  <li><a href="#"><%= fa_icon "home" %></a></li>
	  <li><a href="#">新闻中心</a></li>
	  <li class="active">公司动态</li>
	</ol>
	<h1>公司动态</h1>

	<div class="row">
		<div class="col-md-12">
			<ul class="list-unstyled">
			  <li>
			  	<p><%= link_to "杰夫电声与吉林大学合作开展在职本科教育学历班", news_content_path %></p>
					<p class="news_list_time"><small>2016年12月1日</small></p>
			  </li>
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news_list_time"><small>2016年12月1日</small></p>
			  </li>
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news_list_time"><small>2016年12月1日</small></p>
			  </li>
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news_list_time"><small>2016年12月1日</small></p>
			  </li>
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news_list_time"><small>2016年12月1日</small></p>
			  </li>
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news_list_time"><small>2016年12月1日</small></p>
			  </li>
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news_list_time"><small>2016年12月1日</small></p>
			  </li>
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news_list_time"><small>2016年12月1日</small></p>
			  </li>
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news_list_time"><small>2016年12月1日</small></p>
			  </li>
			  <li>
			  	<a href="#"><p>杰夫电声与吉林大学合作开展在职本科教育学历班</p></a>
					<p class="news_list_time"><small>2016年12月1日</small></p>
			  </li>
			</ul>
			<nav aria-label="Page navigation">
			  <ul class="pagination">
			    <li>
			      <a href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li><a href="#">1</a></li>
			    <li><a href="#">2</a></li>
			    <li><a href="#">3</a></li>
			    <li><a href="#">4</a></li>
			    <li><a href="#">5</a></li>
			    <li>
			      <a href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
		</div>
	</div>

</div>