<div class="product-banner">
	<div class="container">
    <div class="content">
      <h2>扬声器</h2>
      <p>高效节能的JIEFU电视扬声器可减少功耗，减轻重量并提供同样出色的动态表现与声学性能</p>
    </div>
  </div>
</div>

<div class="container product-list">
	
	<div class="row">
	  <div class="col-md-4">

			<form class="search-list">	
				<div class="form-group">
			    <label for="exampleInputEmail1">产品型号</label>
			    <input type="text" class="form-control">
			  </div>

			  <div class="form-group">
			  	<p><strong>扬声器分类</strong></p>
			    <label class="radio-inline">
					  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 电视扬声器
					</label>
					<label class="radio-inline">
					  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 其他扬声器
					</label>
			  </div>

			  <div class="form-group">
			  	<p><strong>扬声器类型</strong></p>
			    <label class="radio-inline">
					  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 单体扬声器
					</label>
					<label class="radio-inline">
					  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 箱体扬声器
					</label>
			  </div>
				<p><strong>外观尺寸（长*宽*高）</strong></p>
			  <div class="col-md-4">
			  	<div class="form-group">
				    <label for="exampleInputEmail1">长：</label>
				    <input type="text" class="form-control" placeholder="<=">
				  </div>
			  </div>
			  <div class="col-md-4">
			  	<div class="form-group">
				    <label for="exampleInputEmail1">宽：</label>
				    <input type="text" class="form-control" placeholder="<=">
				  </div>
			  </div>
			  <div class="col-md-4">
			  	<div class="form-group">
				    <label for="exampleInputEmail1">高：</label>
				    <input type="text" class="form-control" placeholder="<=">
				  </div>
			  </div>

				<div class="form-group">
			    <label for="exampleInputEmail1">阻抗（Ω）</label>
			    <input type="text" class="form-control" placeholder="<=">
			  </div>

			  <div class="form-group">
			    <label for="exampleInputEmail1">FO（Hz）</label>
			    <input type="text" class="form-control" placeholder="<=">
			  </div>

			  <div class="form-group">
			    <label for="exampleInputEmail1">额定功率（W）</label>
			    <input type="text" class="form-control" placeholder="<=">
			  </div>

				<div class="form-group">
			    <label for="exampleInputEmail1">灵敏度（dB）</label>
			    <input type="text" class="form-control" placeholder="<=">
			  </div>

			  <div class="form-group">
			    <label for="exampleInputEmail1">频响范围</label>
			    <input type="text" class="form-control" placeholder="<=">
			  </div>

				

			  <button type="submit" class="btn btn-default">搜索</button>
			</form>
	  </div>
	  <div class="col-md-7 col-md-offset-1">
	  	<h3>搜索结果</h3>
	  	<hr>
	  	<%= image_tag('product3.png', class: "product-img") %>
	  	<h4>YDP1580-2G</h4>
			<ul class="list-unstyled">
			  <li>外观尺寸（长*宽*高）mm : 80.0*14.5*13.0</li>
			  <li>阻抗（Ω）: 4/6/8/16</li>
			  <li>FO（Hz）: 280</li>
			  <li>额定功率（W）: 10</li>
			  <li>灵敏度（dB）: 80</li>
			  <li>频响范围 : Fo~20KHz</li>
			</ul>
			<p><a href="#">了解详细</a></p>

			<%= image_tag('product3.png', class: "product-img") %>
	  	<h4>YDP1580-2G</h4>
			<ul class="list-unstyled">
			  <li>外观尺寸（长*宽*高）mm : 80.0*14.5*13.0</li>
			  <li>阻抗（Ω）: 4/6/8/16</li>
			  <li>FO（Hz）: 280</li>
			  <li>额定功率（W）: 10</li>
			  <li>灵敏度（dB）: 80</li>
			  <li>频响范围 : Fo~20KHz</li>
			</ul>
			<p><a href="#">了解详细</a></p>
	  </div>
	</div>
	
</div>