<div class="news-jumbotron">
  <div class="container">
    <div class="content">
      <h2>新闻</h2>
    </div>
  </div>
</div>

<div class="container">
	<div class="row news">
	  <div class="col-md-8 col-md-offset-2">
	  	<div class="page-header">
			  <h2>最新动态</h2>
			</div>
	  	<ul class="list-unstyled news-list">
	  		<% @infos.each do |info| %>
			  <li>
			  	<h3><%= link_to "[#{info_category(info.category)}] #{info.title}", info_path(info) %></h3>
			  	<p><%= truncate(simple_format(info.content), escape: false, length: 100) %></p>
					<p class="news-time"><%= info.created_at.strftime('%Y-%m-%d') %></p>
			  </li>
			  <% end %>
			</ul>
	  </div>
	</div>
</div>