<footer class="footer footer-list">
  <div class="container">
    <div class="row">
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong>产品</strong></li>
          <li><a href="#">电视扬声器</a></li>
          <li><a href="#">其他扬声器</a></li>
        </ul>
      </div>
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong>实验室</strong></li>
          <li><a href="#">杰夫实验室</a></li>
        </ul>
      </div>
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong>技术支持</strong></li>
          <li><a href="#">在线技术支持</a></li>
        </ul>
      </div>
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong>新闻中心</strong></li>
          <li><a href="#">公司新闻</a></li>
          <li><a href="#">业界新闻</a></li>
          <li><a href="#">杰夫公告</a></li>
        </ul>
      </div>
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong>关于我们</strong></li>
          <li><a href="#">杰夫简介</a></li>
          <li><a href="#">资质认证</a></li>
          <li><a href="#">工作机会</a></li>
        </ul>
      </div>
      <div class="col-md-2 footer-list-one">
        <ul class="list-unstyled">
          <li><strong></strong></li>
          <li><a href="#">隐私声明</a></li>
          <li><a href="#">条款和条件</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <div class="jiefu-id text-center">
      <script id="jsgovicon" src="http://odr.jsdsgsxt.gov.cn:8081/mbm/app/main/electronic/js/govicon.js?siteId=bb62dbe75e8f44f7a0870294eda63f38&width=20&height=27&type=1" type="text/javascript" charset="utf-8"></script>
    </div>
    <p class="text-center">2016 无锡杰夫电声有限公司</p>
  </div>
</footer>